.welcome{
    width: 346px;
    text-align: left;
    font: normal normal 900 41px/46px Avenir;
    letter-spacing: 0px;
    color: #BA8AC7;
}
.mocall{
    width: 212px;
    text-align: left;
    font: normal normal 900 41px/46px Avenir;
    letter-spacing: 0px;
    color: #FDEC07;
}
.first{
    text-align: left;
    font: normal normal 900 17px/30px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.rightText{
    margin-top: 7%;
}